<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/style.min.css">
    <script src="https://unpkg.com/vue"></script>

    <title>Colors</title>
  </head>
  <body>
    <div id="app" class="container-fluid my-4">
      <div class="row">
        <div v-for="value in colors" class="col-3 mb-3">
          <ul>
            <li v-for="(val, key) in value">
              {{ key }}:
              <span v-if="key == 'colorHex'" :style="applyColorHex(val)">{{val}}</span>
              <span v-else>{{val}}</span>
            </li>
          </ul>
          <button :class="['btn', value.classButton]">{{ value.label }}</button>
          <button :class="['btn', value.classButtonOutline]">{{ value.label }}</button>
        </div>
      </div>
    </div>

    <script src="js/app.js"></script>
  </body>
</html>