$color-bg-dark: #2f343b;
$color-blue: #00a2c2;
$color-green: #3cb185;
$color-brown: #7d745e;
$color-purple: #9d72af;
$color-orange: #e89d51;
$color-red: #f0545e;
$color-gray-light: #9fb0c8;
$color-gray-medium: #6c7788;
$color-gray: #393f49;

$primary:       $color-blue;
$secondary:     $color-gray-medium;
$success:       $color-green;
$info:          $color-purple;
$warning:       $color-orange;
$danger:        $color-red;
$light:         $color-gray-light;
$dark:          $color-gray;

$theme-colors: () !default;

$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);